<h2>Eventos - Components</h2>
<hr>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <input class="form-control me-2"
             type="search"
             placeholder="Buscar"
             aria-label="Buscar"
             [(ngModel)]="filtrolista"
      >
    </div>
  </div>
</nav>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImg()">
          {{!exibirImg ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd-Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImg"
            [isAnimated]=true
        src="/assets/{{evento.imagemURL}}"
         alt=""
          [style.width.px]="larguraImg"
          [style.margin.px]="margemImg"
        >
    </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-md-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm ">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encotrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
